<section id="about" class="s-about target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full text-center">
            <h1>Hakkımda</h1>
            <p class="lead">@ViewBag.aboutSubDescription</p>
        </div>
    </div>

    <div class="row about-content">

        <div class="col-six tab-full left">
            <h3>Ben Kimim?</h3>

            <p>
                Yazılım geliştirme alanında kendini geliştiren bir bilgisayar mühendisliği öğrencisiyim. Mobil
                uygulamalar, gerçek zamanlı sistemler ve yapay zeka üzerine projeler geliştirerek teoriyi pratiğe
                dönüştürüyorum. Amacım, öğrendiğim teknolojileri gerçek problemlere çözüm üreten sistemlere
                dönüştürmek.
            </p>
        </div>

        @await Component.InvokeAsync("_SkillComponentPartial")

    </div>

    <div class="row about-content about-content--buttons">

        <div class="col-six tab-full left">
            <a href="/Default/DownloadCv" class="btn btn--primary full-width">CV' Mİ İNDİR</a>
        </div>
        <div class="col-six tab-full right">
            <a href="#contact" class="smoothscroll btn full-width">Bana Ulaş</a>
        </div>

    </div> 

    @await Component.InvokeAsync("_ExperienceComponentPartial")
    

</section> 